<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_e66fcff098794057b84fb7bf3d78ecdb {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e66fcff098794057b84fb7bf3d78ecdb" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_e66fcff098794057b84fb7bf3d78ecdb = L.map(
                                  'map_e66fcff098794057b84fb7bf3d78ecdb',
                                  {center: [0,0],
                                  zoom: 1,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_3ba9b47837354cd59fb31136dd38501e = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_e66fcff098794057b84fb7bf3d78ecdb);
        
    
            var feature_group_f9969621e00040f1a34ef5cdb798cf0c = L.featureGroup(
                ).addTo(map_e66fcff098794057b84fb7bf3d78ecdb);
        
    

            var marker_111cec446dbc499ab3783c24264daf95 = L.marker(
                [47.6062095,-122.3320708],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_f9969621e00040f1a34ef5cdb798cf0c);
            
    
            var popup_9df442a2dec845649487442088084646 = L.popup({maxWidth: '300'});

            
                var html_9ed0d221b74d435a8aec92a7a31f21d5 = $('<div id="html_9ed0d221b74d435a8aec92a7a31f21d5" style="width: 100.0%; height: 100.0%;">Bill Gates</div>')[0];
                popup_9df442a2dec845649487442088084646.setContent(html_9ed0d221b74d435a8aec92a7a31f21d5);
            

            marker_111cec446dbc499ab3783c24264daf95.bindPopup(popup_9df442a2dec845649487442088084646);

            
        
    

            var marker_fc6e99601ec4496abf74856db9f29a0c = L.marker(
                [48.379433,31.1655799],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_f9969621e00040f1a34ef5cdb798cf0c);
            
    
            var popup_fac04016cc09405e9c67ca9017c29593 = L.popup({maxWidth: '300'});

            
                var html_17b9dde5ff044a84b072b5563e5b986b = $('<div id="html_17b9dde5ff044a84b072b5563e5b986b" style="width: 100.0%; height: 100.0%;">Mykytyn Oleh</div>')[0];
                popup_fac04016cc09405e9c67ca9017c29593.setContent(html_17b9dde5ff044a84b072b5563e5b986b);
            

            marker_fc6e99601ec4496abf74856db9f29a0c.bindPopup(popup_fac04016cc09405e9c67ca9017c29593);

            
        
    

            var marker_5c109ea0b6b64b3ba02b68055fa7e58b = L.marker(
                [40.7127753,-74.0059728],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_f9969621e00040f1a34ef5cdb798cf0c);
            
    
            var popup_cd68244349bd46cd8e73fd72c349893a = L.popup({maxWidth: '300'});

            
                var html_84a7110e17f54c0480881a542af635e0 = $('<div id="html_84a7110e17f54c0480881a542af635e0" style="width: 100.0%; height: 100.0%;">World and Science</div>')[0];
                popup_cd68244349bd46cd8e73fd72c349893a.setContent(html_84a7110e17f54c0480881a542af635e0);
            

            marker_5c109ea0b6b64b3ba02b68055fa7e58b.bindPopup(popup_cd68244349bd46cd8e73fd72c349893a);

            
        
    
            var layer_control_5e8c538d3f1c469886e3c5de4355a85b = {
                base_layers : { "openstreetmap" : tile_layer_3ba9b47837354cd59fb31136dd38501e, },
                overlays : { "Friends" : feature_group_f9969621e00040f1a34ef5cdb798cf0c, }
                };
            L.control.layers(
                layer_control_5e8c538d3f1c469886e3c5de4355a85b.base_layers,
                layer_control_5e8c538d3f1c469886e3c5de4355a85b.overlays,
                {position: 'topright',
                 collapsed: true,
                 autoZIndex: true
                }).addTo(map_e66fcff098794057b84fb7bf3d78ecdb);
        
</script>