<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter friends</title>
<body>
    <form action="/" method="post">

    <label for="name"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="name" required>

    <label for="count"><b>Friends count</b></label>
    <input type="text" placeholder="Enter count of friends" name="count" required>

    <div class="buttons">
        <button type="button" class="cancel_button">Cancel</button>
        <button type="submit" class="signup_button">Submit</button>
    </div>

    </form>
</body>
</html>